ul li.dir {
	background-image: url("/images/dir.png");
}
ul li.drive {
	background-image: url("/images/drive.png");
}
ul li.file {
	background-image: url("/images/file.png");
}

.highlight {
	border: 2px solid red;
}
li.deleted {
	/*height: 0px!important;
	width: 0px!important; */
	background-size: 0px!important;
	opacity: 0;
}

li {
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}