ul li.dir {
	background-image: url("/images/dir.png");
}
ul li.file {
	background-image: url("/images/file.png");
}

ul li.drive p {
	background-image: url("/images/drive.png");
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 30px;
}

.highlight {
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}
li.deleted {
	/*height: 0px!important;
	width: 0px!important; */
	background-size: 0px!important;
	opacity: 0;
}

li {
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}


#imagepreview {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	overflow: hidden;
	vertical-align: center;
}
#imagepreview div.previousimage {
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	min-height: 300px;
	min-width: 300px;
}
#imagepreview div.currentimage {
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	min-height: 300px;
	min-width: 300px;
}
#imagepreview div.nextimage {
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	min-height: 300px;
	min-width: 300px;
}