ul li.dir {
	background-image: url("/images/dir.png");
}
ul li.file {
	background-image: url("/images/file.png");
}

ul li.drive p {
	background-image: url("/images/drive.png");
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 30px;
}

.highlight {
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}
li.deleted {
	/*height: 0px!important;
	width: 0px!important; */
	background-size: 0px!important;
	opacity: 0;
}

li {
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}


#imagepreview {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	vertical-align: middle;
	background-color: rgba(240, 240, 240, 0.83);
}
#imagepreview div.previousimage {
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	height: 80vh;
	width: 50vw;
	border: 1px solid gray;
	position: absolute;
	opacity: 0.5;
}
#imagepreview div.currentimage {
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	height: 80vh;
	width: 80vw;
	left: 10vw;
	border: 1px solid gray;
	position: absolute;
}
#imagepreview div.nextimage {
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	height: 80vh;
	width: 50vw;
	left:  90vw;
	border: 1px solid gray;
	position: absolute;
	opacity: 0.5;
}